{{#each categories}}

<p>{{name}}</p>
<p>Created : {{created_at}}</p>
<p>Last updated : {{updated_at}}</p>


      <form action="/admin/delcategory/{{id}}" method="post">
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>

      <form action="/admin/editcategory/{{id}}" method="get">
        <button class="btn btn-sm btn-warning">Edit</button>
      </form>

{{/each}}

  <div class="text-center my-3">
    <a href="/newcategory">
      <button class="btn btn-success">New category</button>
    </a>
  </div>


<div class="container">
  <div class="d-flex justify-content">
    <h3 class="text-center mb-3">New Category:</h3>
   
    <form action="/admin/newcategory" method="POST" class="w-50">

      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name">
      </div>
     
      </div>
      <button type="submit" class="btn btn-success w-100 mt-3">Create a new category</button>
    </form>
  </div>
</div>