{{#each posts}}


<h1>{{title}}</h1>
<h1>{{author}}</h1>
<h1>{{content}}</h1>

{{/each}}
<div class="container">
  <div class="d-flex justify-content">
    <h3 class="text-center mb-3">Edit post:</h3>
   {{#each posts}}
    <form action="/edit/{{id}}" method="put" class="w-50">
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category">
          <option value="">Choose a category</option>
          <option value="1">Category 1</option>
          <option value="2">Category 2</option>
          <option value="3">Category 3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" value="{{author}}" placeholder="Author">
      </div>
        <label for="id">id</label>
        <input type="text" class="form-control" name="id" value="{{id}}" >
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" class="form-control h-100" name="content" value="{{content}}" placeholder="Content"></textarea>
      </div>
      <button type="submit" class="btn btn-success w-100 mt-3">Save</button>
    </form>
  </div>
</div>

{{/each}}