

<div class="container">
  <div class="d-flex justify-content">
    <h3 class="text-center mb-3">Edit post:</h3>
    {{#each posts}}
    <form action="/edit/{{id}}" method="post" class="w-50">
    {{/each}}
      <div class="form-group">
        <br><br>
        <label for="category">Category</label>
        <select class="form-control" name="category" onchange="document.getElementById('categorypost').value=this.value">
        {{#each categories}}
          {{#if 'python'}}
            <option selected value="{{name}}">{{name}}</option>
          {{else}}
            <option value="{{name}}">{{name}}</option>
          {{/if}}
        {{/each}}
      </select>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
         {{#each posts}}
          <input type="hidden" class="form-control" name="categorypost" value={{category}} placeholder="Category">
        <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" value="{{author}}" placeholder="Author">
      </div>
        <input type="hidden" class="form-control" name="id" value="{{id}}">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" class="form-control h-100" name="content" value="{{content}}" placeholder="Content"></textarea>
      </div>
      <button type="submit" class="btn btn-success w-100 mt-3">Save</button>
    </form>
  </div>
</div>

{{/each}}


<script>
  document.querySelector('select[name="category"]').addEventListener('change', 
  function {
    document.querySelector('input[name="categorypost"]').value = this.value;
  });


</script>


