<div style="display: flex; justify-content: center; flex-wrap: wrap;">
  {{#each posts}}
    <div style="width: 70%; padding: 2%; text-align: left;">
      <h2>{{title}}</h2>
      <br><br><br>
      <p>{{content}}</p>
      <p>Created at: {{created_at}}</p>
      <p>Modified: {{updated_at}}</p>

      <form action="/editpost/{{id}}" method="get">
        <button class="btn btn-sm btn-warning">Edit</button>
      </form>
      <form action="/delpost/{{id}}" method="post">
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
  {{/each}}
</div>
