<div class="container">
  <div class="d-flex flex-wrap justify-content-between">
    {{#each posts}}
      <div class="card my-3 mx-3" style="width: 20rem;">
        <a href="post/{{id}}" class="card-link">
          <img src="{{image}}" class="card-img-top" alt="{{title}}">
          <div class="card-body">
            <h5 class="card-title text-center">{{title}}</h5>
            <p class="card-text text-center">{{content}}</p>
          </div>
        </a>
        <div class="d-flex justify-content-between px-3 py-2">
          <a href="post/{{id}}/edit" class="btn btn-primary">Edit</a>
          
          <form action="/delpost/{{id}}" method="post">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="text-center my-3">
    <a href="/newpost">
      <button class="btn btn-success">New post</button>
    </a>
  </div>
</div>